body{
    background-color: bisque;
}

p{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.green{
    color: green;
}

.red{
    color: red;
}

.blue{
    color: blue;
}